<!DOCTYPE html>
<html lang="en" xml:base="currency.html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Currency Convertor</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<h1 align="center"> <b>Currency Convertor</b></h1>

<div align="center"  >
    <form action="/convertor/" method="post">
        <div class='input-group-wrapper'>
            <input class='first' type="number" th:value="${baseAmount}" id="base-amount" name="baseAmount" placeholder="1" required>
            <select class='second' id="baseCurrency" name="baseCurrency" required>
                <option th:value="${baseRate}" th:text="${baseRate}" ></option>
                <option th:each="rate: ${rateList}" th:value="${rate}" th:text="${rate}"></option>
            </select>
        </div>
        <div class='input-group-wrapper'>
        <input class='first' th:value="${resultAmount}" type="text" id="secondary-amount" name="secondaryAmount" placeholder="0.00" readonly>
        <select class='second' id="secondaryCurrency" name="secondaryCurrency" required>
            <option th:value="${secondaryRate}" th:text="${secondaryRate}" ></option>
            <option th:each="rate: ${rateList}" th:value="${rate}" th:text="${rate}"></option>
        </select>
        </div>

        <br>
        <br>
        <input class="submitBtn"type="submit" value="Submit">

    </form>
</div>

</body>
</html>